* {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url(fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}

a {
	text-decoration: none;
}

.wrapper {
	min-height: 100vh;
	margin-bottom: -200px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #dcdcdc;
	padding: 45px 0 65px 0;
	min-width: 1000px;
}

.header_block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 10px;
	min-width: 980px;
}

.logo {
	width: 273px;
	height: 100px;
}

.logo img {
	width: 100%;
	height: 100%;
}

.contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.contacts .phone_number {
	line-height: 45px;
	color: #767676;
	font-size: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.contacts .feedback {
	color: #767676;
	font-weight: 700;
	font-size: 24px;
	text-decoration: underline;
	text-decoration-style: dashed;
}

.menu {
	background-color: #777777;
	min-width: 980px;
	padding: 25px 0;
}

.menu ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-width: 980px;
	margin: 0 10px;
}

.menu ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	list-style: none;
	font-size: 30px;
	padding: 0 20px;
	border-right: 2px solid white;
}

.menu ul li:last-child {
	border-right: none;
}

.menu ul li a {
	color: #ffffff;
	line-height: 30px;
	border-bottom: 2px solid #777777;
}

.menu ul li a:hover {
	border-bottom: 2px solid white;
}

.slider {
	width: 100%;
	height: 400px;
	background-color: #9AB7BD;
}

.breadcrumbs {
	display: flex;
	flex-direction: row;
	padding: 10px 15%;
}

.breadcrumbs p {
	color: #767676;
	font-size: 14px;
	padding-right: 5px;
}

.breadcrumbs .underlined {
	text-decoration: underline;
}

.content {
	margin-top: 20px;
	padding: 0 15%;
	display: flex;
	flex-direction: row;
}

.side_menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-width: 200px;
}

.side_menu .category {
	font-size: 18px;
	color: #767676;
}

.side_menu .category:hover {
	text-decoration: underline;
}

.side_menu .category.underlined {
	text-decoration: underline;
}

.side_menu ul li {
	margin-left: 20px;
}

.side_menu .subcategory {
	font-size: 14px;
	color: #767676;
}

.side_menu .subcategory:hover {
	text-decoration: underline;
}

.side_menu .subcategory.chosen {
	text-decoration: underline;
	color: #010101;
}

.price_list_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 110px;
}

.price_list_block p {
	font-weight: 700;
	font-size: 30px;
}

.center_block {
	display: flex;
	flex-direction: column;
}

.product_block {
	display: flex;
	flex-wrap: wrap;
}

.product_item {
	display: inline-table;
	background-color: #dcdcdc;
	padding: 20px;
	margin: 0 15px 20px 0;
	margin-bottom: 20px;
}

.product_item .item_photo {
	width: 210px;
	height: 210px;
}

.item_description {
	width: 210px;
	color: #767676;
	font-size: 18px;
	margin-top: 10px;
}

.product_item .bottom_part {
	margin-top: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.bottom_part .item_price {
	font-size: 24px;
	font-weight: 700;
	margin-right: 60px;
}

.bottom_part img {
	margin-right: 15px;
}

.paginator {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 15px 0 60px 0;
	margin-bottom: 30px;
	border-bottom: 1.5px solid #777777;
}

.paginator button{
	outline: none;
	background: none;
	border: none;
	color: #767676;
	font-size: 14px;
	padding: 0 15px;
	cursor: pointer;
}

.paginator .chosen{
	font-size: 18px;
}

.about_us {
	display: flex;
	flex-direction: row;
	padding-bottom: 400px;
}

.about_us .first_text {
	margin-right: 40px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #777777;
	padding: 50px 0;
	height: 100px;
}

.footer_block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 10px;
	min-width: 980px;
}

footer .privacy p {
	color: white;
	font-size: 14px;
}



.footer_menu ul li{
	list-style: none;
}

.footer_menu ul li a{
	text-decoration: underline;
	color: white;
}

footer .site_developers {
	display: flex;
	flex-direction: row;
}

.site_developers img {
	width: 36px;
	height: 38px;
	margin-right: 10px;
}

.site_developers .site_developers_info p {
	color: white;
}

.site_developers_info .underlined {
	text-decoration: underline;
	float: left;
	margin-right: 5px; 
}

